# This is an example file.
# Create a terraform.tfvars file and add your secret variables here.
# This file should not be committed to version control.

# aws_access_key = "YOUR_AWS_ACCESS_KEY"
# aws_secret_key = "YOUR_AWS_SECRET_KEY"
